# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/
media/
*.log

# Env
.env

# IDE
.idea/
.vscode/

# PHP legacy (не нужно для деплоя Django)
# public/uploads/*
# !public/uploads/.gitkeep
